{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="{% static 'images/vps_logo.png' %}" alt="Logo" height="40" class="me-2 bg-light rounded">
      Veikala pārvaldības sistēma
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'index' %}active{% endif %} text-light" href="/">Dienas lapa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'plani' %}active{% endif %} text-light" href="{% url 'plani' %}">Individuālie plāni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary {% if request.resolver_match.url_name == 'veikala-plans' %}active{% endif %} text-light" href="{% url 'veikala-plans' %}">Veikala plāns</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary  text-light" href="/admin/">Admin panelis</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item d-flex align-items-center">
          <span class="navbar-text me-3">
            Lietotājs: {{ request.user.username }} / {{ request.user.first_name }} {{ request.user.last_name }}
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-outline-secondary text-light" href="{% url 'logout' %}">Atslēgties</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
